nav {

}
nav ul {
    text-align: center;
}
nav ul li {
    color: yellow;
}
h1 {
    color: red;
    background-color: blue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
    background-color:aqua;
    text-align: center;
}

.cal {
    padding-left: 200px;
}